
@media only screen and (max-width: 768px) {
  .logo {
    margin-left: 12%;
  }

  header {
    width: 100%;
  }
  .main-nav {
    width: 100%;
  }
  .nav-icon {
    opacity: 1;
    visibility: visible;
  }
  .nav-ul li {
    opacity: 0;
    visibility: hidden;
  }
  

  .hero-text-box {
    text-align: left;
  }
  h1 {
    font-size: 100%;
    letter-spacing: 0px;
    word-spacing: 1px;
    margin-left: 12%;
    width: 80%;
  }
  .btn {
    display: inline-block;
    font-size: 80%;

    padding: 10px 15px;
  }
  .btn-full {
    margin-left: 12%;
  }

  .iphone img {
    margin-left: 250px;
  }
  .col {
    width: 100%;
    padding: 0 10px;
  }
  footer {
    width: 100%;
  }
  body {
    font-size: 16px;
  }
  section {
    padding: 30px 0;
  }
  .row {
    padding: 0.4%;
  }
  .steps p {
    font-size: 90%;
  }
  .box {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  .city-features {
    text-align: left;
  }
  .cities h3 {
    text-align: left;
  }
  cite img {
    margin-bottom: 25px;
  }
  .sec-paragraph {
    text-align: justify;
  }
  .section-plans ul li {
    text-align: left;
  }
  .contact-form:last-child {
    width: 100%;
  }
  .working {
    padding-top: 0px;
  }
}
@media only screen and (max-width: 480px) {
  .iphone img {
    margin-left: 100px;
  }
  .logo {
    margin-left: 12%;
  }
}
